<div class="movie info">
  <div class="poster">
    <%= @poster %>
  </div>
  <p> <%= @title %> </p>
  <p> <%= @year %> </p>
  <p> <%= @director %> </p>
  <p> <%= @actors %> </p>
  <p> <%= @plot %> </p>
</div>

<a href="/index">Back to Search</a>
